<div class="login-container">
    <h2>Reset Password</h2>
    <form action="" ng-submit="resetPassword()">
        <label for="resetUsername">Username:</label>
        <input ng-model="resetUsername" placeholder="Enter your username" required />
        <label for="newPassword">New Password:</label>
        <input type="password" ng-model="newPassword" placeholder="Enter New password" required/>
        <button class="align" type="submit">Reset Password</button>
    </form>
    <p class="new-user">New user? <a href="#!/register">Register here</a></p>
    <p style="color: red;">{{resetMessage}}</p>
</div>